@import url(https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css);
* {
  box-sizing: border-box;
}
.intro-container {
  background: #f5ecd5;
  display: flex;
  height: 100vh; /*브라우저 높이 100%*/
  width: 100%; /*화면 전체 너비*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'NanumSquareRoundBold';
}
.intro-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.intro-text {
  font-size: 50px;
  margin-bottom: 30px; /* 버튼과 간격 */
  color: #626f47;
  font-weight: 700;
  font-style: normal;
}

.intro-text-highlight {
  font-size: 65px;
  color: #3c442c;
}

#about-btn {
  font-size: 25px;
  padding: 10px;
  font-weight: bold;
  border-color: #626f47 !important;
  color: #626f47 !important;
}

#about-btn:hover {
  font-size: 25px;
  padding: 10px;
  font-weight: bold;
  border-color: #626f47 !important;
  color: #f5ecd5 !important;
  background-color: #626f47;
}

@media screen and (min-width: 767px) and (max-width: 991px) {
  .intro-text {
    font-size: 2.2rem;
  }

  .intro-text-highlight {
    font-size: 3.0rem;
  }

  #about-btn {
      font-size: 1.4rem;
    padding: 6px;
  }
  #about-btn:hover {
    font-size: 1.4rem;
    padding: 6px;
  }
}

@media screen and (max-width: 767px) {
  .intro-text {
    font-size: 1.0rem;
  }

  .intro-text-highlight {
    font-size: 1.3rem;
  }

  #about-btn {
    font-size: 1.0rem;
    padding: 5px;
  }
  #about-btn:hover {
    font-size: 1.0rem;
    padding: 5px;
  }
  .intro-container{
    padding:30px;
  }
}
