@import url(https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css);

.project-container {
  background: #626f47;
  display: flex;
  height: 100vh;
  width: 100%;
  padding: 50px;
  font-family: 'NanumSquareRoundBold';
}
.project-item1 {
  display: flex;
  justify-self: center;
  align-self: center;
  flex-direction: column;
  height: 100%;
  flex: 1;
  padding: 10px;
  box-sizing: border-box;

}

.project-item2 {
  background-color: #f5ecd5;
  width: 100%;
  font-size: 18px;
  font-weight: 450;
  overflow-y: auto;
  flex: 3;
}
/*project-item1*/
.project-title {
  font-size: 2.7rem;
  color: #f5ecd5;
  font-weight: 600;
}
.project-subtitle {
  font-size: 1.7rem;
  color: #f5ecd5;
  font-weight: 500;
}
.project-img {
  width: 330px;
  min-width: 330px;
  height: auto;
  object-fit: cover;
  box-sizing: border-box;
}

.project-img:hover {
  cursor: pointer;
}

.modal {
  font-family: 'NanumSquareRoundBold';
  color: #2c3220;
}
.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  row-gap: 20px;
}

.link-text {
  font-weight: 600;
  cursor: pointer;
}

.link-text:hover {
  font-weight: 700;
  cursor: pointer;
  font-size: 21px;
  color: #7d8768;
}
/*project-item2*/
.first-context {
  margin-top: 20px;
}
.project-details {
  display: grid;
  padding: 50px;
  grid-template-columns: 1fr 2fr;
}
.project-details > h4 {
  font-weight: 700;
}

.higtlight-text {
  font-weight: 600;
  font-size: 19px;
  background-color: rgb(98, 111, 71, 0.17);
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}

.table {
  font-size: 16px;
  word-break: keep-all;
}

.project-deficulty-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-deficulty-img:hover {
  cursor: pointer;
}

#youtube-player {
  width: 100%;
  height: 700px;
  object-fit: cover;
}
#preview-img-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 10px;
}
#preview-img-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
#preview-img-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#preview-img-card > p {
  font-weight: 600;
  font-size: 1rem;
  background-color: rgb(98, 111, 71, 0.17);
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2px;
}

.highlight-title {
  background-color: rgb(164, 180, 101, 0.2);
  font-size: 27px;
  font-weight: 700;
  padding-left: 5px;
  padding-right: 20px;
  padding-top: 7px;
  border-radius: 5px;
}
.space {
  display: none;
}
.link-direction-text {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  text-align: start;
  color: #f5ecd5;
  word-break: keep-all;
}
.logo-text {
  display: none;
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
  /*project-item1*/
  .project-title {
    font-size: 2rem;
    color: #f5ecd5;
    font-weight: 600;
  }
  .project-subtitle {
    font-size: 1.4rem;
    color: #f5ecd5;
    font-weight: 500;
  }
  /*project-item2*/
  .project-details {
    display: flex;
    flex-direction: column;
    padding: 50px;
  }

  .highlight-title {
    font-size: 1.5rem;
  }
  .first-context {
    margin-top: 10px;
  }
  .project-details > h4 {
    font-size: 1.3rem;
    font-weight: 700;
  }

  .project-details > ul,
  .project-details > p,
  .project-details > div {
    font-size: 1rem;
    word-break: keep-all;
  }
  .higtlight-text {
    font-size: 1.1rem;
  }

  #preview-img-card > p {
    font-size: 1rem;
  }
  .table {
    font-size: 0.8rem;
    word-break: keep-all;
  }
  .space {
    display: none;
  }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  /*project-item1*/
  .project-title {
    font-size: 2rem;
    color: #f5ecd5;
    font-weight: 600;
  }
  .project-subtitle {
    font-size: 1.4rem;
    color: #f5ecd5;
    font-weight: 500;
  }
  /*project-item2*/
  .project-details {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .highlight-title {
    font-size: 1.1rem;
  }
  .first-context {
    margin-top: 10px;
  }
  .project-details > h4 {
    font-size: 1.1rem;
    font-weight: 700;
  }

  .project-details > ul,
  .project-details > p,
  .project-details > div {
    font-size: 0.9rem;
    word-break: keep-all;
  }
  .higtlight-text {
    font-size: 1rem;
  }

  #preview-img-card > p {
    font-size: 0.8rem;
  }
  .table {
    font-size: 0.8rem;
    word-break: keep-all;
  }
  #preview-img-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .space {
    display: inline;
  }
  .project-deficulty-img {
    display: none;
  }
}

@media screen  and (min-width: 476px) and (max-width: 900px) {
  .project-container {
    flex-direction: column;
    padding: 40px;
    width: 100%;
  }
  .project-img-container {
    display: none;
  }
  .project-item1 {
    width: 100%;
    flex-grow: 0;
  }

  .project-item2 {
    width: 100%;
    flex: 5;
  }

  /*project-item1*/
  .project-title {
    font-size: 2rem;
    color: #f5ecd5;
    font-weight: 600;
    cursor: pointer;
  }
  .project-subtitle {
    font-size: 1.4rem;
    color: #f5ecd5;
    font-weight: 500;
    cursor: pointer;
  }
  /*project-item2*/
  .project-details {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .highlight-title {
    font-size: 1.1rem;
  }
  .first-context {
    margin-top: 10px;
  }
  .project-details > h4 {
    font-size: 1.1rem;
    font-weight: 700;
  }

  .project-details > ul,
  .project-details > p,
  .project-details > div {
    font-size: 0.9rem;
    word-break: keep-all;
  }
  .higtlight-text {
    font-size: 1rem;
  }

  #preview-img-card > p {
    font-size: 0.8rem;
  }
  .table {
    font-size: 0.8rem;
    word-break: keep-all;
  }
  #preview-img-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .space {
    display: inline;
  }
  .project-deficulty-img {
    display: none;
  }
  .logo-text {
    display: block;
  }
}


@media screen and (max-width: 476px) {
.project-container {
    flex-direction: column;
    padding: 40px;
  }
  .project-img-container {
    display: none;
  }
  .project-item1 {
    width: 100%;
    flex-grow: 0;
    text-align: center;
  }

  .project-item2 {
    width: 100%;
    flex: 5;
  }

  /*project-item1*/
  .project-title {
    font-size: 1.2rem;
    color: #f5ecd5;
    font-weight: 600;
    cursor: pointer;
  }
  .project-subtitle {
    font-size: 1.1rem;
    color: #f5ecd5;
    font-weight: 500;
    cursor: pointer;
  }
  .logo-text {
    display: block;
     font-size: 1.0rem;
     text-align: center;

  }

  /*project-item2*/
  .project-details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    
  }

  .highlight-title {
    font-size: 0.8rem;
  }
  .first-context {
    margin-top: 10px;
  }
  .project-details > h4 {
    font-size: 0.8rem;
    font-weight: 700;
  }

  .project-details > ul,
  .project-details > p,
  .project-details > div {
    font-size: 0.7rem;
    word-break: keep-all;
  }
  .higtlight-text {
    font-size: 0.8rem;
  }

  #preview-img-card > p {
    font-size: 0.7rem;
  }
  .table {
    font-size: 0.7rem;
    word-break: keep-all;
  }
  #preview-img-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .space {
    display: inline;
  }
  .project-deficulty-img {
    display: none;
  }

}
